@media screen and (min-width: 1024px) {
    .posts-image {
        height: 250px;
    }

    .posts-body {
        height: 230px;
    }
}

@media screen and (max-width: 650px) {
    .phone-wrap {
        width: 100% !important;
        padding: 0 !important;
    }
}

p.post-heading,
a.post-heading {
    font-weight: 600 !important;
    font-size: 14px;
}

.bg-stisla {
    background-color: #6777ef !important;
}

.bg-stisla-dark {
    background-color: #2f1c6a !important;
}

.c-stisla {
    color: #6777ef !important;
}

.c-stisla-dark {
    color: #2f1c6a !important;
}

.author-info {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 5px 0 5px 0;
    -webkit-box-align: center;
    align-items: center;
}

.author-avatar {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    height: 96px;
}

.author-info .author {
    font-size: 18px;
    line-height: 19px;
    letter-spacing: 1.2px;
}

.author-info .author-name {
    font-size: 44px;
    line-height: 55px;
}

.author-description p {
    text-align: justify;
}

.post-images {
    max-height: 15rem !important;
}

@media screen and (max-width: 650px) {
    .author-info {
        padding-top: 15px;
    }
    article,
    .body-text {
        font-weight: 300;
    }

    .badge,
    p.post-heading,
    a.post-heading {
        font-size: 11px;
    }
}

@media screen and (max-width: 1280px) {
    .post-images {
        height: 10rem !important;
    }
}

.form-floating > input {
    border-radius: 4px;
    height: 48px !important;
    padding: 0.7rem 0.75rem !important;
}

.form-floating > label {
    font-size: 14px;
    padding: 0.7rem 0.75rem;
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
    transform: scale(0.85) translateY(-1.65rem) translateX(0.15rem);
    background-color: #fff;
    opacity: 1;
}

.page-item.active .page-link {
    background-color: #2f1c6a;
    border-color: #2f1c6a;
}

.page-link {
    color: #2f1c6a;
}
